h2 {
    text-align: center;
    color: var(--text-tittle);
    font-size: 3em;
}

p {
    color: var(--text-primary-nav);
    text-align: justify;
}

.active-scroll-spy {
    background-color: yellowgreen;
  }
  

  html {
    scroll-padding-top: 0px; /* height of your navbar */
  }